.상품{
    border: 1px solid #eeeeee;
    width: 300px;
}
.상품이미지 > img{
    width: 295px;
    /*이미지가 부모 요소보다 커지면 자동 크기맞춤 */
    /*object-fit : voer ;*/
}
.제목{
    margin-top: 20px;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 15px;
}
.가격{
    font-weight: bold; font-size: 15px;  padding: 10px 0px;
}
.설명{
    font-size: 13px;    padding: 10px 0px;
}
.오렌지색상{ color: orange;}
.기타{ padding: 10px 0px; }
.상품정보{
    border-top: 1px solid #eeeeee;
    padding: 5px 10px;
}