.title{
    font-family: '궁서';
    font-size : 60px;
    font-style: italic;
}
.text1{
    font-family: '맑음 고딕';
    color : blue;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 10px;
    line-height: 130%;
}
.text2{
    font-family: '맑음 고딕';
    color : #FF0000;
    text-align: center;
    font-size: 15px;
    text-decoration:underline overline line-through;
    text-shadow: 0px 0px 2px red;
    line-height: 200%;

}
.text3{
    font-family: '맑음 고딕';
    color : rgb(255, 0, 0);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration:underline overline line-through;
    text-shadow: 0px 0px 2px red;
    line-height: 200%;
}