#wrap{
    width: 960xp;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 10px #eeeeee;
    padding: 50px;
}
#top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#top > input, #top > select{ /*선택자A, 선택자B로 복수로 사용 가능*/
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #eeeeee;
}
#top > button{
    background-color: blue; color: white;
    border: none; border-radius: 5px;
    padding: 10px 20px;
}
/*========메인 화면========*/
#main > table{
    width: 100%;
    border-collapse: collapse;
}
#main > table th {
    background-color: #eeeeee;
    padding: 10px;
    border-bottom: 1px solid gray;
}
#main > table td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}
#main > table button{
    padding: 10px 15px;
    border: none;
    border-radius: 10px; font-weight: bold;
}
#main > table .deleteBtn{background-color: pink; color: red;}
#main > table .modifyBtn{background-color: skyblue; color: blue;}
#man > table img{ width: 100px; height: 100px; object-fit: cover; }