/*전체 선택자*/
*{
    border: solid 3px red; /* 테두리 */

    padding: 10px;
}
/* 클래스 선택자 */
.경기도{
    border-top: solid 1px orange; /* 위쪽 테두리 */
    border-right: dotted 2px blue; /* 오른쪽 테두리*/
    border-bottom: dashed 3px black; /* 아래쪽 테두리*/
    border-left: double 4px green; /* 왼쪽 테두리 */
    border-radius: 10px 15px 20px 25px; /* 둥근 모서리: 시계 방향으로 왼쪽 상단부터 바뀜*/
    box-shadow: 10px 10px 3px red; /* 그림자 */
    width:500px; /* 가로 사이즈 */
    height: 500px ; /* 세로 사이즈 */
    text-align: center; /* 구역 정렬하는게 아니라 구역내 content(내용물) 가로정렬 */
}