/*전체 선택자*/
*{
    border: solid 3px red; /* 테두리 */

    padding: 10px;
}
/* 클래스 선택자 */
.경기도{
    border-top: solid 1px orange; /* 위쪽 테두리 */
    border-right: dotted 2px blue; /* 오른쪽 테두리*/
    border-bottom: dashed 3px black; /* 아래쪽 테두리*/
    border-left: double 4px green; /* 왼쪽 테두리 */
    border-radius: 10px 15px 20px 25px; /* 둥근 모서리: 시계 방향으로 왼쪽 상단부터 바뀜*/
    box-shadow: 10px 10px 3px red; /* 그림자 */
    width:500px; /* 가로 사이즈 */
    height: 500px ; /* 세로 사이즈 */
    text-align: center; /* 구역 정렬하는게 아니라 구역내 content(내용물) 가로정렬 */
}
.안양시{
    padding-top: 20px; /* (테두리)안쪽 여백 */
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
    margin-top: 50px; /* (테두리)바깥쪽 여백 */
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
} /* 여백 사용이 중요함 -> 레이아웃 잡기*/
.만안구{
    /* 가로 사이즈 고정, 만일 생략시 100%(부모크기) */
    width: 200px;
    padding: 10px; margin: 10px;
    box-sizing: border-box; /* 구역 크기 : content+border+padding */
    box-sizing: content-box; /*구역 크기(기본값) : content*/
    margin : 0 auto; /* 바깥 여백 이용한 구역 가로 가운데 정렬*/
    /* 0 : 위아래 여백없음 , auto : 왼쪽오른쪽 자동 뜻 */
    /* 주의할점 : width가 100%이거나 생략시 불가능 */
    background-color: pink; /* 배경색 */
}
/* input , img 등 정렬 주의 */
.사진{
    width: 100px;
    text-align: center; /* 가운데로 안 옴!*/
    /* 사진을 가운데 정렬할려면 사진을 감싼 구역(부모)를 center로 맞춰야함 */
}
.input{
    width: 100px;
    margin: 0 auto; /* 불가능 */
}